app.set('etag','weak') can collide fairly easily with different bodies <= 1KB

As initially conjectured in https://github.com/strongloop/express/issues/2129#issuecomment-107499990, Express's default etag behavior is **very broken**.

As stated by [section 2.1 of RFC 7232](http://tools.ietf.org/html/rfc7232#section-2.1):

>  A "strong validator" is representation metadata that changes value
> whenever a change occurs to the representation data that would be
> observable in the payload body of a 200 (OK) response to GET.
>
> [...]
>
> A collision-resistant hash function applied to
> the representation data is also sufficient if the data is available
> prior to the response header fields being sent and the digest does
> not need to be recalculated every time a validation request is
> received.
>
> [...]
>
> In contrast, a "weak validator" is representation metadata that might
> not change for every change to the representation data.  This
> weakness might be due to limitations in how the value is calculated,
> such as clock resolution, an inability to ensure uniqueness for all
> possible representations of the resource, or a desire of the resource
> owner to group representations by some self-determined set of
> equivalency rather than unique sequences of data.  An origin server
> SHOULD change a weak entity-tag whenever it considers prior
> representations to be unacceptable as a substitute for the current
> representation.  In other words, a weak entity-tag ought to change
> whenever the origin server wants caches to invalidate old responses.
>
> For example, the representation of a weather report that changes in
> content every second, based on dynamic measurements, might be grouped
> into sets of equivalent representations (from the origin server's
> perspective) with the same weak validator in order to allow cached
> representations to be valid for a reasonable period of time (perhaps
> adjusted dynamically based on server load or weather quality).
> Likewise, a representation's modification time, if defined with only
> one-second resolution, might be a weak validator if it is possible
> for the representation to be modified twice during a single second
> and retrieved between those modifications.
>
> Likewise, a validator is weak if it is shared by two or more
> representations of a given resource at the same time, unless those
> representations have identical representation data.  For example, if
> the origin server sends the same validator for a representation with
> a gzip content coding applied as it does for a representation with no
> content coding, then that validator is weak.

TL;DR: A "weak etag" is an etag that is based on **metadata**. The "weak" in "weak etag" has **nothing to do with collision-resistance weakness**: *all* etags are interpreted to be semantically collision-resistant. Yet the behavior of Express when `etag` is set to `weak` (the default) is to use a hash-like function *not* resistant to collisions, prefixed with 'W/' (the signifier that denotes that the response would be semantically equivalent, if not byte equivalent, to other responses with that etag). 

On top of being semantically wrong, this could be exploited by an attacker to set a value that would permute a page's etag to remain the same, denying requests for it from receiving the new version of the page whenever its content would be changed.

A correct implementation of weak etags would be to do something like hashing the JSON representation of the locals provided to a template and comparing those hashes before rendering the template.

A PR to fix this would be welcome :) If you can provide a demonstrated attack (you can always send it to me via email if it's sensitive), we can look at putting in resources to change it. Otherwise, we would welcome the community to contribute patches to `express` and the `etag` module that would better implement weak ETags without bringing down performance.

Since they're predicated on middleware, you can't really implement weak etags without application knowledge. It's a job best left to middleware.

Sure. So what is the suggested action item on this report?

Change the default behavior of `etags` to either `strong` or `false` and remove `weak` altogether.

Sorry, won't be happening.

If you can produce something that demonstrates a real-world problem, we would be much more willing to do something. A way to demonstrate is if you can show two routes that provide the same weak ETag and are both workable (i.e. if one is JSON, the the other should be valid JSON as well).

We are not technically violating anything, besides the framework-level weak ETag being odd-looking, because the spec only says

>  An origin server
SHOULD change a weak entity-tag whenever it considers prior
representations to be unacceptable as a substitute for the current
representation

If that were a MUST then we would be in violation, but it's just a SHOULD, so it's not an absolute requirement.

But regardless, if you can show two routes that produce different bodies that send the same weak ETag, I would be _much_ more convinced to change something (and hopefully keep the same speed we have now).

I really don't want to spend a protracted amount of time implementing this, but http://stackoverflow.com/a/1519711/34799 explains why it would be really simple to implement a [preimage attack](https://en.wikipedia.org/wiki/Preimage_attack), *especially* in instances where the last 4 bytes can be controlled.

And https://code.google.com/p/tweakcrc/ appears to be an existing piece of code built specifically to do so.

> , but http://stackoverflow.com/a/1519711/34799 explains why it would be really simple to implement a preimage attack, especially in instances where the last bytes can be controlled (in which the complexity of an attack basically becomes O(1)).

Yes, but that only applies to CRC32; what we send, CRC32 is not _part of the equation_; we include data like the length in there as well. Appending 4 bytes would alter the ETag we generate, even if the CRC32 is the same.

Yeah, but *changing* 4 bytes *wouldn't*, and it's *totally plausible* that a user would be able to control the last bytes while retaining the same size.

Worth linking to https://github.com/jshttp/etag/blob/master/index.js here.

Gotcha. I'll have to take a look into this when I have time. I would definitely be willing to keep an issue open over in the `etag` module's repository about the potential for security issues and waiting for myself (or someone) to show demonstrable proof that `etag` is vulnerable.

`{"username":"dougwilson","pwned":"false"}` and `{"username":"d��j�ilson","pwned":"ohyea"}` both have a byte length of 42 and a CRC32 of 0x47EC7B58.

> This would still work to break a naive route and/or HTML template 

Right. This is enough to convince me. Can you open an issue in the `etag` module (and perhaps include a link of this issue) and I want to get something addressed soon-ish.

Can this be re-opened?

Furthermore, I need to stress, the design of Express means there is **no way to implement weak etags around `res.send`** (there is *kind of* a way to do it for `res.render`, [as described above](https://github.com/strongloop/express/issues/2667#issuecomment-107542120)). Either the framework needs to default to `strong` (SHA-1 hashes at [about 300 MB a second on 2010-consumer-grade cores](http://stackoverflow.com/questions/2722943/is-calculating-an-md5-hash-less-cpu-intensive-than-sha-family-functions)), or it needs to default to **off**.

>  the design of Express means there is no way to implement weak etags around res.send (there is kind of a way to do it for res.render, as described above)

If this is true, then it's a different issue that needs to be address, but as far as I know, it's not true at all; If you set your own `ETag` header, Express will leave it alone and not add one; you can also change the setting of `etag`, even down to providing a `function` as the value to compute the ETag any way you like. You can also override `res.render` or `res.send` to do something like set the `ETag` header how you want and then call the original method.

If expanding the interface of `res.render <-> view engine` in Express 5.x to allow the view engine to implement ETags works, that's also a viable option.

Re-opening for action items in https://github.com/jshttp/etag/issues/11#issuecomment-107657366

> with encouragement in the documentation to use some kind of middleware to calculate simpler weak etags based on the known factors that influence the app/route's response (if possible).

I just saw this tid-bit, and I certainly agree. Please make a doc request (or, hopefully, a PR with the changes) to https://github.com/strongloop/expressjs.com ; this documentation is good even before get any changes here.